
body {
    background-color:#0000FF;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items:center:
    height: 700px;
    margin: 0px;
}

button{
    background-color: rgb(23, 122, 236);
    color:white;
    font-family: "Bai Jamjuree", sans-serif;
}
