
body {
    background-color: rgb(8, 40, 201);
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items:center:
    height: 700px;
    margin: 0px;
}

button{
    background-color: rgb(8, 137, 201);
    color:white;
    font-family: "Bai Jamjuree", sans-serif;
}
